.App {
  text-align: center;
}

.menu {
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  background-color: darkslategrey;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu h1 {
  font-size: x-large;
}

.menu .controls {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
}

.main {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
}

.bar {
  width: 1.5vw;
  margin: 0 0.25vw;
  background-color: #303030;
}
